.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.navbar-inverse .navbar-nav>li>a {
	font-size: 15px;
}

.carousel {
	margin-top: -22px;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}

.footer {
    margin-top: 400px;
}

/* Menu */
.navbar-inverse .navbar-nav>li>a {
       font-size: 15px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.navbar-inverse {
    background-color: #369;
    border-bottom: 3px solid #FD7534;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #FD7534;
    font-weight: bold;
}
/* Fim do Menu */ 